<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>mapbox</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<div id='map' style='width: 100vw; height: 100vh; top: 0px; left: 0px; position: absolute;'></div>

<div id='sidebar' style='width: 400px; height: 100vh; background: #efeff4; left: 0px; top: 0px; z-index: 1000; position: absolute;'>
  <ul>
    <li id='linkonefly'><a href='#'>San Jose</a></li>
  </ul>
</div>

<div id='sidebarArea' style='width: 100px; height: 100vh; left: 0px; top: 0px; z-index: 1000; position: absolute;'></div>

<script>

mapboxgl.accessToken = 'pk.eyJ1Ijoic2hlbGV5MTk5OCIsImEiOiJjajVpNGw0ZTMxYzluMnFqanUwbjh2NnY4In0.hTTY6gII0E2vjipIjvu01Q';

var map = new mapboxgl.Map
({
  container : 'map',
  style : 'mapbox://styles/mapbox/streets-v10',
  center: [-121.53, 27.20],
  zoom: 1
});

map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
}));


map.addControl(new mapboxgl.NavigationControl());

var $sidebar = $('#sidebar');
$sidebar.css('transform', 'translateX(-100%)').css('transition', 'all 350ms linear 0ms');

var $sidebarArea = $('#sidebarArea');

$sidebarArea.mouseenter(function()
{
  $sidebar.css('transform', 'translateX(0px)').css('z-index', 1001);
});

$sidebar.mouseleave(function()
{
  $sidebar.css('transform', 'translateX(-100%)').css('z-index', 1000);
});

document.getElementById('linkonefly').addEventListener('click', function () {
    map.flyTo({
        center: [-121.53,37.20],
        zoom: 9

    });
});

map.on('load', function() {
console.log('finished');
    map.addSource("earthquakes", {
        type: "geojson",
        data: "http://127.0.0.1:8080/earthquakes.geojson",
        cluster: true,
        clusterMaxZoom: 14, // Max zoom to cluster points on
        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    });

    map.addLayer({
        id: "clusters",
        type: "circle",
        source: "earthquakes",
        filter: ["has", "point_count"],
        paint: {
            "circle-color": {
                property: "point_count",
                type: "interval",
                stops: [
                    [0, "#51bbd6"],
                    [100, "#f1f075"],
                    [750, "#f28cb1"],
                ]
            },
            "circle-radius": {
                property: "point_count",
                type: "interval",
                stops: [
                    [0, 20],
                    [100, 30],
                    [750, 40]
                ]
            }
        }
    });

    map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "earthquakes",
        filter: ["has", "point_count"],
        layout: {
            "text-field": "{point_count_abbreviated}",
            "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
            "text-size": 12
        }
    });

    map.addLayer({
        id: "unclustered-point",
        type: "circle",
        source: "earthquakes",
        filter: ["!has", "point_count"],
        paint: {
            "circle-color": "#11b4da",
            "circle-radius": 4,
            "circle-stroke-width": 1,
            "circle-stroke-color": "#fff"
        }
    });
});


</script>
</body>
</html>