{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="STAY SAFE, WHEREVER YOU ARE">
		<meta name="author" content="Ashley Jieun Lee and Seungwoo Son">

		<title>Stayfe</title>

		<!-- Bootstrap core CSS -->
		<link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="{%static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

		<!-- Custom styles for this template -->
		<link href="{% static 'css/grayscale.css' %}"" rel="stylesheet">

	</head>

	<body id="page-top">
		<!-- Intro Header -->
		<header class="masthead" id="about">
			<div class="intro-body">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<h1 class="brand-heading"> S T A Y F E </h1>
							<h2 class="intro-text"> <br>STAY SAFE, WHEREVER YOU ARE </h2>
							<p class="intro-text">Created by Ashley Jieun Lee and Seungwoo Son<br><br></p>
							<a href="#intro" class="btn btn-circle js-scroll-trigger">
								<i class="fa fa-angle-double-down animated"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Intro Body -->
		<section id = "intro">
			<div class="section-body text-center">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<p>We are undergraduates studying computer science at MIT and UC Berkeley.<br><br>
								 Everyday there are all kinds of crimes happening around us. Our mission is to provide the most comprehensive real time crime data so that our users can easily visualize the risk of any location.
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Bootstrap core JavaScript -->
		<script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

		<!-- Plugin JavaScript -->
		<script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

		<!-- Custom scripts for this template -->
		<script src="{% static 'js/grayscale.js' %}"></script>

	</body>

</html>
