{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="STAY SAFE, WHEREVER YOU ARE">
		<meta name="author" content="Ashley Jieun Lee and Seungwoo Son">

		<title>Stayfe</title>

		<!-- Bootstrap core CSS -->
		<link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="{%static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

		<!-- Custom styles for this template -->
		<link href="{% static 'css/grayscale.css' %}"" rel="stylesheet">

	</head>

	<body id="page-top">
		<section id="contact" class="contact-section text-center">
			<div class="container">
				<div class="col-lg-8 mx-auto">
					<h2>Contact Us</h2>
				</div>
			</div>
		</section>

		<section>
			<div class="section-body text-center">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<p>Our ultimate goal is provide crime data of the entire United States, and furthermore the world.
							<br>With our data, we hope we can keep people safe wherever they go.
							<br>If you like our contents, we'd love to hear from you. whether it be feedback, thanks, or even just to say hello, we welcome it all!</p>
							<i><a href="mailto:jieunlee@mit.edu">jieunlee@mit.edu &nbsp;</a></i>
							<i><a href="mailto:seungwooson94@gmail.com">&nbsp; seungwooson94@gmail.com</a></i>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer>
			<div class="container text-center">
				<p>Data and service provided by Ashley Jieun Lee (MIT'19) and SeungWoo Son (UC Berkeley'19)</p>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

		<!-- Plugin JavaScript -->
		<script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

		<!-- Custom scripts for this template -->
		<script src="{% static 'js/grayscale.js' %}"></script>

	</body>
	
</html>
