{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Ashley Jieun Lee and Seung Woo Son">
<title>Stayfe</title>
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static 'css/theme.css' %}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="stayfe.html">STAYFE</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="aboutus.html">About Us</a>
			</li>
			<li>
			<a href="map.html">Map</a>
			</li>
			<li>
			<a href="contacts.html">Contacts</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="map">
<div class="map-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">Crime Map</h1>
				<p class="map-text">
					We provide data and service that will keep people safe at anytime at anywhere ... <br><br>
				</p>
				<form id = "contactform">
					<input type="addresssearch" name="address" placeholder="WHERE ARE YOU NOW? e.g. mission and 18th streets, san francisco">
				</form>
				<a href="#single-project" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Project Details Section -->
<section id="single-project"> 
<div class="container content-section text-center">
	<div>
	<iframe width="100%" height="520" frameborder="0" src="https://alee19.carto.com/builder/5cc27bd2-7827-11e7-bf0c-0e8c56e2ffdb/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
	</div>
	<div class="row">
		<h2><br><br><br>Overview</h2>
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				We collect data from the official police report, news media, and social media ... <br>
				Processed data are visualized via user-friendly and interactive map ... <br>
<!-- 				<a href="https://alee19.carto.com/builder/5cc27bd2-7827-11e7-bf0c-0e8c56e2ffdb/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen><br>LINK TO FULL SCREEN MAP</a> -->
		</div>
	</div>
</div>
</section>
<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- Contact JavaScript -->
<script src="{% static 'js/validate.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
