{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="STAY SAFE, WHEREVER YOU ARE">
		<meta name="author" content="Ashley Jieun Lee and Seungwoo Son">

		<title>Stayfe</title>

		<!-- Bootstrap core CSS -->
		<link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="{%static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

		<!-- Custom styles for this template -->
		<link href="{% static 'css/grayscale.css' %}"" rel="stylesheet">

	</head>

	<body id="page-top">
		<!-- Map Section --> 
		<section id="download" class="map-section text-center">
			<div class="container">
				<div class="col-lg-8 mx-auto">
					<h2>Crime Map</h2>
					<p>We provide data and service that will keep people safe at anytime at anywhere. Go to any location by entering address into the search box of the map below.</p>
				</div>
			</div>
		</section>

		<section>
			<div class="section-body text-center">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div>
								<iframe id="mapview" width="100%" height="500px" frameborder="0" src="https://alee19.carto.com/builder/5cc27bd2-7827-11e7-bf0c-0e8c56e2ffdb/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
							</div>
							<p>Enter any location in San Francisco Bay Area. e.g. Mission and 18th streets, SF</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<h2><br>Overview</h2>
							<p>We collected data from local news media and compared them with official police reports. Crime data published by police departments may take weeks to be updated and often cover only specific locations.
							By adding crime data crawled from credible news articles and processing them with various machine learning techniques, we provide the most comprehensive and up-to-date content to our users.
							Red dots are collected from crawling news media and the yellow dots are from the police data base.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Bootstrap core JavaScript -->
		<script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

		<!-- Plugin JavaScript -->
		<script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

		<!-- Custom scripts for this template -->
		<script src="{% static 'js/grayscale.js' %}"></script>

	</body>
	
</html>
